.hero{
    background: $bg-main;
    &__image{
        text-align: center;
        margin-top: 90px;
    }
    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
        margin-top: 76px;
        padding-bottom: 100px;
        button{
            padding: 12px 45px;
            font-family: $font;
            font-size: 15px;
            font-weight: 400;
            color: #fff;
            border-radius: 30px;
            background: $btn-clr;
            &:hover{
                background: #fff;
                color: $btn-clr;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
}


@media (max-width: 700px) {
    .title{
        font-size: 28px;
    }
    .subtitle{
        font-size: 22px;
    }
    .hero{
        &__buttons{
            button{
                padding: 8px 30px;
            }
        }
    }
}
@media (max-width: 450px) {
    .title{
        font-size: 24px;
        padding-top: 40px;
    }
    .subtitle{
        font-size: 18px;
    }
    .hero{
        &__image{
            margin-top: 40px;
        }
        &__buttons{
            margin-top: 40px;
            padding-bottom: 50px;
            button{
                padding: 6px 24px;
            }
        }
    }
}
@media (max-width: 350px) {
    .title{
        font-size: 20px;
        padding-top: 25px;
    }
    .subtitle{
        font-size: 16px;
    }
    .hero{
        &__image{
            margin-top: 25px;
        }
        &__buttons{
            margin-top: 25px;
            padding-bottom: 35px;
            button{
                padding: 5px 16px;
            }
        }
    }
}